In [ ]:
# # DISTRIBUTIONS OF EACH VARIABLE

In [ ]:
# # NOTE THAT VALUE IS IN SECONDS: 60 = 1 MIN;  3600 = 1 HOUR; 10000 = 2.8 HOURS
# for var in ['appCat.builtin', 'appCat.entertainment', 'appCat.office', 'appCat.social']:
#     d = long.loc[(long['variable']==var) ] # & (long['id'] == 'AS14.09')
#     print(var)
#     print()
#     print(d.nlargest(5, 'value'))

OUTLIERS

In [2]:
from functions import load_data, remove_incorrect_values, replace_missing_long, widen_data, iqr, group_data, impute_missing_wide
import pandas as pd

In [3]:
long = load_data()
long = remove_incorrect_values(long)
long = replace_missing_long(long)
long

        Unnamed: 0       id                    time        variable   value
0                1  AS14.01 2014-02-26 13:00:00.000            mood   6.000
1                2  AS14.01 2014-02-26 15:00:00.000            mood   6.000
2                3  AS14.01 2014-02-26 18:00:00.000            mood   6.000
3                4  AS14.01 2014-02-26 21:00:00.000            mood   7.000
4                5  AS14.01 2014-02-27 09:00:00.000            mood   6.000
...            ...      ...                     ...             ...     ...
376907     2770399  AS14.30 2014-04-11 07:51:16.948  appCat.weather   8.032
376908     2772465  AS14.30 2014-04-19 11:00:32.747  appCat.weather   3.008
376909     2774026  AS14.30 2014-04-26 10:19:07.434  appCat.weather   7.026
376910     2774133  AS14.30 2014-04-27 00:44:48.450  appCat.weather  23.033
376911     2784435  AS14.32 2014-04-07 18:25:14.036  appCat.weather  22.431

[376908 rows x 5 columns]

In [ ]:
import matplotlib.pyplot as plt
from scipy.stats import boxcox
data = long.groupby('variable')['value']
transform = []
for n, g in data:
    min = g.min()
    if min < 0:
        add = -min + 0.001
        g += add
    if min == 0:
        add = 0.001
        g += add

    if str(n) != 'sms' and n != 'call':
        plt.hist(g, density=False, bins=100)
        plt.show()
        plt.hist(boxcox(g), density=False, bins=100)
        plt.show()

In [ ]:
import warnings
warnings.filterwarnings("ignore")

outliers = iqr(long)
print(outliers)

In [51]:
long = widen_data(long)
grouped = group_data(long)
grouped = impute_missing_wide(grouped)
grouped

c:\Users\nikki\Documents\Master\DMT\DM1\functions.py:67: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['activity'] = data['activity'].bfill()
C:\Users\nikki\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,time,appCat.builtin,appCat.communication,appCat.entertainment,appCat.finance,appCat.game,appCat.office,appCat.other,appCat.social,appCat.travel,appCat.unknown,appCat.utilities,appCat.weather,screen,call,sms,circumplex.arousal,circumplex.valence,activity,mood
15,2014-03-04,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.776831,0.209563,0.500000,1.455752,0.063542,7.000000
16,2014-03-05,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.704381,0.219429,0.333333,0.833333,0.063542,7.166667
17,2014-03-06,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.797395,0.151282,-0.050000,0.675000,0.063542,7.225000
18,2014-03-07,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.709058,0.220290,0.675000,1.100000,0.063542,7.450000
19,2014-03-08,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.620175,0.274561,0.200000,0.900000,0.063542,7.300000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,2014-06-04,2.887951,18.274684,0.0,0.0,0.0,0.0,0.158910,0.282533,0.000000,0.0,0.000000,0.0,21.409270,0.004098,0.004098,0.500000,1.000000,0.046385,7.000000
108,2014-06-05,6.454897,3.538085,0.0,0.0,0.0,0.0,0.174760,0.634554,0.832978,0.0,0.000000,0.0,8.751251,0.040590,0.000000,-0.017316,0.949057,0.152343,7.000000
109,2014-06-06,3.261717,5.899738,0.0,0.0,0.0,0.0,0.125566,0.000000,0.000000,0.0,0.007145,0.0,9.425283,0.055172,0.000000,0.500000,0.808962,0.189476,7.500000
110,2014-06-07,36.169050,5.294712,0.0,0.0,0.0,0.0,0.044705,0.768705,0.000000,0.0,0.000000,0.0,39.786892,0.000000,0.014388,-1.000000,0.745283,0.081893,8.000000
111,2014-06-08,10.648152,11.379242,0.0,0.0,0.0,0.0,0.547545,5.780606,0.000000,0.0,0.000000,0.0,34.278727,0.000000,0.000000,-1.500000,1.000000,0.079510,6.500000

In [10]:
grouped[grouped.isna().any(axis=1)]

Empty DataFrame
Columns: [time, appCat.builtin, appCat.communication, appCat.entertainment, appCat.finance, appCat.game, appCat.office, appCat.other, appCat.social, appCat.travel, appCat.unknown, appCat.utilities, appCat.weather, screen, call, sms, circumplex.arousal, circumplex.valence, activity, mood]
Index: []